<% @page_title = "Pages" %>
<div class="pages index">
  <div class="row">
    <%= error_messages_for(@page) %>
  </div>
  <h2>Pages in <strong><%= @book.name %></strong></h2>

  <div class="container">
     <ul class="row list-unstyled">
       <% @pages.each do |page| %>
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">



                <div style="vertical-align:middle; font-size:150%"><%= page.position %></div>
                  <div style="vertical-align:middle"><%= image_tag page.page_image.url(:thumb) %></div>

              <div class="action" style="vertical-align:middle">
                <div class="btn-group btn-group-xs">
                  <%= link_to("Show", {:action => 'show', :book_id => @book.id, :id => page.id}, :class => 'btn btn-primary') %>
                  <%= link_to("Edit", {:action => 'edit', :book_id => @book.id, :id => page.id, :is_edit => "true"}, :class => 'btn btn-primary') %>
                  <%= link_to("Delete", {:action => 'delete', :book_id => @book.id, :id => page.id}, :class => 'btn btn-primary') %>
                </div>

              </div>
          </li>
       <% end %>
     </ul>
</div>

  <table class="table table-hover table-bordered" summary="Pages list">
    <tr class="header">
      <th>Page Number</th>
      <th>Page Image</th>
      <th>Action</th>
    </tr>

    <% @pages.each do |page| %>
    <tr>
      <td style="vertical-align:middle; font-size:150%"><%= page.position %></td>
      <td style="vertical-align:middle"><%= image_tag page.page_image.url(:thumb) %></td>
      <td class="action" style="vertical-align:middle">
        <div class="btn-group">
          <%= link_to("Show", {:action => 'show', :book_id => @book.id, :id => page.id}, :class => 'btn btn-primary') %>
          <%= link_to("Edit", {:action => 'edit', :book_id => @book.id, :id => page.id, :is_edit => "true"}, :class => 'btn btn-primary') %>
          <%= link_to("Delete", {:action => 'delete', :book_id => @book.id, :id => page.id}, :class => 'btn btn-primary') %>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Add a new page", {:action => 'new', :book_id => @book.id, :is_edit => "false"}, :class => 'btn btn-primary' %>
  <br/>
  <br/>
</div>
