<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>Administrators Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :role => "form", :class => "form-horizontal" }) do |f| %>

              <div class="form-group field">
                <%= f.label :email, class: "control-label" %><br />
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group field">
                <%= f.label :password, class: "control-label" %><br />
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="form-group field">
                  <%= f.label :remember_me, class: "control-label" %>
                  <%= f.check_box :remember_me %>
                </div>
              <% end -%>

              <div class="form-group field">
                <%= f.submit "Log in", class: "btn btn-primary" %>
              </div>

              <%= render "admins/shared/links" %>

              <% end %>
    </div>
    <div class="col-sm-5"></div>
  </div>

</div>
